.card {
    max-width: 300px; /* Maximum width of each card */
    width: 100%; /* Ensures each card takes up full width within its container */
    margin: 20px; /* Adjust margin as needed */
    text-align: center; /* Center align text */
    font-family: Arial, sans-serif; /* Font family */
    border-radius: 30px; /* Rounded corners */
    background: linear-gradient(120deg, #ffffff, #e6e6e6); /* Gradient background */
    box-shadow: 10px 10px 20px #9c9c9c, -10px -10px 20px #ffffff; /* Box shadow for depth */
    padding: 20px; /* Padding inside the card */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if there's not enough space */
    justify-content: center; /* Center align cards horizontally */
  }
  
  .image {
    width: 100%; /* Ensure images fill their container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Optional: Adjust spacing */
  }
  
  .description {
    text-align: justify; /* Justify text */
    margin-bottom: 10px; /* Optional: Adjust spacing */
  }
  
  .price {
    color: grey; /* Price color */
    font-size: 18px; /* Price font size */
    margin-bottom: 10px; /* Optional: Adjust spacing */
  }
  
  .card button {
    border: none; /* Remove button border */
    outline: 0; /* Remove outline */
    padding: 12px; /* Button padding */
    margin-top: 20px; /* Optional: Adjust top margin */
    margin-bottom: 20px; /* Optional: Adjust bottom margin */
    color: white; /* Button text color */
    background-color: #000; /* Button background color */
    text-align: center; /* Center align button text */
    cursor: pointer; /* Cursor style */
    width: 90%; /* Button width */
    font-size: 18px; /* Button font size */
    border-radius: 15px; /* Button border radius */
  }
  
  .card button:hover {
    opacity: 0.7; /* Button opacity on hover */
  }
  
  .classButtonClick {
    border: 3px solid red !important; /* Example: Adding border on button click */
  }
  